<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>This is Profile Page</h1>
    <h5>Name : <%= user.name %></h5>
    <h5>Email : <%= user.email %></h5>
    <h5>City : <%= user.city %></h5>
</body>
</html>